.head1{
    text-align: center;
}
.main{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.space{
    text-align: center;
}
.shift{
    text-align: center;
}
.class{
    text-align: center;
}